.netgis-client
{
	position: relative;
	box-sizing: border-box;
	font-size: 4mm;
	overflow: hidden;
}

.netgis-client *
{
	box-sizing: border-box;
}

.netgis-client button
{
	font-family: inherit;
	font-size: inherit;
}