.netgis-controls
{
	position: absolute;
	width: 12mm;
	right: 4mm;
	bottom: 8mm;
	overflow: hidden;
	
	z-index: 100;
}

.netgis-client.netgis-footer > .netgis-controls
{
	bottom: 44mm;
}

.netgis-controls button
{
	font-size: 5mm !important;
	color: inherit;
	
	width: 100%;
	height: 12mm;
	padding: 0mm !important;
	border: none;
	background-color: inherit;
	
	cursor: pointer;
}