.netgis-contextmenu
{
	position: absolute;
	width: 64mm;
	
	z-index: 90000;
}

.netgis-contextmenu > *
{
	display: block;
	position: relative;
	width: 100%;
	height: 12mm;
	line-height: 12mm;
	padding: 0mm 4mm;
	text-align: left;
	background: none;
}

.netgis-contextmenu > label span
{
	position: absolute;
	left: 0mm;
	right: 50%;
	height: 100%;
	padding: 0mm 4mm;
}

.netgis-contextmenu > label span:last-of-type
{
	left: 50%;
	right: 0mm;
	padding: 2mm;
	padding-left: 0mm;
	padding-right: 4mm;
}

.netgis-contextmenu > label span:only-of-type
{
	left: 12mm;
	right: 0mm;
	padding: 0mm 4mm;
	padding-left: 0mm;
	cursor: pointer;
}

.netgis-contextmenu > label input[ type = range ]
{
	width: 100%;
	cursor: pointer;
}