.netgis-import .netgis-preview-map
{
	position: absolute;
	width: 100%;
	height: 40mm;
	
	cursor: grab;
}

.netgis-import .netgis-preview-map:active:hover
{
	cursor: grabbing;
}

.netgis-import .netgis-preview-tree
{
	position: absolute;
	width: 100%;
	top: 52mm;
	bottom: 12mm;
	overflow-y: auto;
}

.netgis-import .netgis-import-submit
{
	position: absolute;
	width: 100%;
	height: 12mm;
	bottom: 0mm;
}

/* Geoportal */

.netgis-import .netgis-geoportal .netgis-search > label
{
	display: block;
	
	position: absolute;
	width: auto;
	left: 0mm;
	right: 30mm;
}

.netgis-import .netgis-geoportal .netgis-search > label > button
{
	top: 8.5mm;
}

.netgis-import .netgis-geoportal .netgis-search > label > button:last-of-type
{
	width: 26mm;
	right: -30mm;
	padding: 0mm;
}

.netgis-import .netgis-geoportal > .netgis-loader
{
	left: 0mm;
	top: 0mm;
	background: rgba( 255, 255, 255, 0.66 );
}

.netgis-import .netgis-geoportal > label > .netgis-loader
{
	width: 10mm;
	height: 10mm;
	bottom: 0mm;
	right: 0mm;
	font-size: 5mm;
}

.netgis-import .netgis-geoportal > label > .netgis-loader i
{
	top: 2.75mm;
}

.netgis-import .netgis-geoportal .netgis-tree
{
	position: absolute;
	left: 8mm;
	right: 8mm;
	top: 32mm;
	bottom: 18mm;
	overflow: auto;
	
	padding-left: 0mm;
	list-style-type: none;
}

.netgis-import .netgis-geoportal .netgis-tree li
{
	padding-left: 0mm;
	list-style-type: none;
}

.netgis-import .netgis-geoportal .netgis-tree label
{
	margin-bottom: 0mm;
	font-weight: normal;
}

.netgis-import .netgis-geoportal .netgis-tree .netgis-folder > details summary input
{
	margin-left: 3mm;
}

.netgis-import .netgis-geoportal .netgis-tree .netgis-item input
{
	margin-left: 4mm;
}

.netgis-import .netgis-geoportal .netgis-tree .netgis-button > .netgis-loader
{
	top: 0mm;
	left: 0mm;
	line-height: 12mm;
	font-size: 5mm;
	
	/*text-align: left;
	padding-left: 3.5mm;*/
}

.netgis-import .netgis-geoportal .netgis-tree .netgis-button > .netgis-loader *
{
	position: static;
	
	/*width: 5mm;
	height: 5mm;*/
	
	pointer-events: none;
}

.netgis-import .netgis-geoportal > button:last-of-type
{
	display: block;
	position: absolute;
	width: 89%;
	right: 8mm;
	bottom: 8mm;
	
	/*
	TODO: auto width not working with right pos
	width: auto;
	left: 8mm;
	*/
}

@media ( max-width: 599px )
{
	.netgis-import .netgis-geoportal .netgis-tree
	{
		left: 4mm;
		right: 4mm;
		top: 25mm;
	}
	
	.netgis-import .netgis-geoportal button:last-of-type
	{
		width: auto;
		right: 4mm;
		padding-right: 8mm;
	}
}