
/* TODO: refactor into common panel class */

.netgis-layer-list
{
	position: absolute;
	right: 0mm;
	width: 100%;
	max-width: 100mm;
	top: 12mm;
	bottom: 0mm;
	overflow: auto;
	z-index: 200;
	
	-webkit-transform: none;
	transform: none;
	transition: transform 150ms ease;
}

.netgis-layer-list.netgis-hide
{
	display: initial;
	
	-webkit-transform: translateX( 110% );
	transform: translateX( 110% );
	transition: transform 150ms ease;
	will-change: transform;
}

.netgis-layer-list ul
{
	list-style-type: none;
}

.netgis-layer-list > ul
{
	display: block;
	position: relative;
	width: 100%;
	margin: 0mm;
	padding: 0mm;
}

.netgis-folder
{
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0mm;
	margin: 0mm;
	min-height: 12mm;
	width: 100%;
	white-space: nowrap;
}

.netgis-folder label
{
	/*/display: inline-block;
	position: absolute;
	width: 12mm;
	height: 12mm;
	left: 0mm;
	top: 0mm;
	text-align: center;
	line-height: 12mm;*/
	cursor: pointer;
}

.netgis-folder input[type=checkbox]
{
	cursor: pointer;
}

.netgis-folder > button
{
	display: inline-block;
	/*display: block;
	position: absolute;*/
	/* width: auto; TODO: ??? */
	
	width: 100%;
	padding: 0mm;
	padding-right: 16mm; /* 4mm + 12mm ( padding + checkbox width ) */
	
	/*width: 88mm; /* 100mm - 12mm */
	/*width: calc( 100% - 12mm );*/
	/*width: literal( "calc(100%-12mm)" );*/
	
	margin: 0mm;
	
	/*left: 12mm;
	right: 0mm;
	top: 0mm;
	height: 12mm;*/
	line-height: 12mm;
	text-align: left;
	/*padding: 0mm;
	padding-right: 4mm;*/
}

.netgis-folder > ul
{
	display: none;
	/*max-height: 0mm;
	overflow: hidden;
	transition: max-height ease 200ms;*/

	/*padding-top: 12mm;*/
	padding-left: 8mm;
}

.netgis-folder.netgis-active > ul
{
	display: block;
	/*max-height: 60mm;
	overflow-y: auto;*/
} 

.netgis-folder-item
{
	height: 12mm;
	line-height: 12mm;
}

.netgis-folder-item > label
{
	display: block;
	/*width: 100%;*/
	padding-right: 4mm;
}

/* TODO: just .netgis-icon for folders too */
/*.netgis-folder-item*/ .netgis-layer-list .netgis-icon
{
	display: inline-block;
	width: 12mm;
	line-height: 12mm;
	text-align: center;
}

.netgis-layer-list i
{
	margin-right: 4mm;
}

.netgis-folder i
{
	color: #eab000;
}

.netgis-folder-item i
{
	color: #bbb;
}

.netgis-folder .netgis-partial
{
	opacity: 0.5;
}
