.netgis-map
{
	position: absolute;
	left: 0mm;
	right: 0mm;
	top: 12mm;
	bottom: 0mm;
	
	cursor: grab;
}

.netgis-map:active:hover
{
	cursor: grabbing !important;
}

.netgis-map-overlay
{
	width: 1px;
	height: 1px;
	background: none;
}

/* Interaction Modes */

.netgis-map.netgis-clickable
{
	cursor: pointer;
}

.netgis-map.netgis-mode-zoom-box,
.netgis-map.netgis-mode-zoom-box:active:hover
{
	cursor: crosshair;
}

.netgis-map.netgis-mode-measure-line,
.netgis-map.netgis-mode-measure-area
{
	cursor: crosshair;
}

.netgis-map.netgis-mode-measure-line:active:hover,
.netgis-map.netgis-mode-measure-area:active:hover
{
	cursor: grabbing;
}

.netgis-map.netgis-mode-draw-points,
.netgis-map.netgis-mode-draw-lines,
.netgis-map.netgis-mode-draw-polygons,
.netgis-map.netgis-mode-cut-features-draw
{
	cursor: crosshair;
}

.netgis-map.netgis-mode-buffer-features
{
}

.netgis-map.netgis-mode-draw-points.netgis-not-allowed,
.netgis-map.netgis-mode-draw-lines.netgis-not-allowed,
.netgis-map.netgis-mode-draw-polygons.netgis-not-allowed
{
	cursor: no-drop;
}

.netgis-map .netgis-zoom-box
{
	border: 0.5mm solid white;
	background: rgba( 153, 0, 0, 0.5 );
}

/* Scale Bar */

.netgis-map .ol-scale-bar
{
	right: 24mm;
	bottom: 10mm;
	left: auto;
	opacity: 0.7;
}

.netgis-map .ol-scale-bar.netgis-clickable
{
}

.netgis-map .ol-scale-bar:hover
{
	opacity: 1.0;
}

.netgis-map .ol-scale-bar select
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: -1mm;
	left: 0mm;
	opacity: 0.0;
	background: transparent;
	pointer-events: all !important;
	cursor: pointer;
}

.netgis-client.netgis-footer > .netgis-map .ol-scale-bar
{
	bottom: 46mm;
}