.netgis-menu
{
	position: absolute;
	left: 0mm;
	right: 0mm;
	top: 0mm;
	height: 12mm;
	max-height: 12mm;
	line-height: 12mm;
	white-space: nowrap;
	text-align: right;
	font-size: 0mm;
	
	z-index: 10000;
}

.netgis-menu.netgis-menu-large
{
	max-height: 100%;
}

.netgis-menu .netgis-menu-toggle
{
	z-index: 1;
}

.netgis-menu > *
{
	display: inline-block;
	min-width: 12mm;
	height: 12mm;
	padding: 0mm 4mm;
	margin: 0mm;
	font-size: 4mm !important;
}

.netgis-menu > h1
{
	position: absolute;
	left: 0mm;
	top: 0mm;
	bottom: 0mm;
	font-weight: bold;
	cursor: default;
}

.netgis-menu a
{
	color: inherit;
	text-decoration: none;
}

.netgis-menu button,
.netgis-menu select
{
	color: inherit;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

.netgis-menu > *:hover
{
}

.netgis-menu button img,
.netgis-menu a img
{
	position: relative;
	top: 0.7mm;
	height: 1em;
}

.netgis-menu button i:not( :only-child ),
.netgis-menu a i:not( :only-child ),
.netgis-menu button img:not( :only-child ),
.netgis-menu a img:not( :only-child )
{
	width: 4mm;
	margin-right: 3mm;
	text-align: center;
}

.netgis-menu > .netgis-wrapper
{
	display: inline-block;
	position: relative;
	padding: 0mm;
}

.netgis-menu > .netgis-wrapper > .netgis-icon
{
	position: absolute;
	left: 0mm;
	top: 0mm;
	padding-left: 4mm;
	pointer-events: none;
}

.netgis-menu > .netgis-wrapper select
{
	width: 100%;
	height: 100%;
	padding-left: 11mm;
}

.netgis-menu > .netgis-wrapper select:last-child
{
	padding-left: 4mm;
}

/* Responsive Small Display */

@media ( max-width: 599px )
{
	.netgis-menu
	{
		overflow: hidden;
		height: auto;
		max-height: 12mm;
	}
	
	.netgis-menu > *:not( .netgis-menu-toggle )
	{
		display: block;
		width: 100%;
		text-align: left;
	}
	
	.netgis-menu.netgis-menu-large
	{
		overflow-y: auto;
		max-height: 100%;
		height: 100%;
	}
	
	.netgis-menu .netgis-dropdown
	{
		height: auto;
	}
	
	.netgis-menu .netgis-dropdown > :first-child
	{
		width: 100%;
		text-align: left;
	}
	
	.netgis-menu .netgis-dropdown ul
	{
		position: relative;
	}
	
	.netgis-menu .netgis-dropdown li
	{
		height: auto;
	}
	
	.netgis-menu .netgis-dropdown li > ul
	{
		top: auto;
		left: auto;
	}
}

/* Responsive Large Display */

@media ( min-width: 600px )
{
	.netgis-menu-toggle
	{
		display: none !important;
	}
}