.netgis-modal
{
	display: none;
	
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0mm;
	left: 0mm;
	padding: 6mm;
	z-index: 5000;
	
	background: rgba( 0, 0, 0, 0.6 );
}

.netgis-modal.netgis-show
{
	display: block;
}

.netgis-modal .netgis-dialog
{
	display: none;
	
	max-width: 160mm;
	max-height: 160mm;
	margin: auto;
	
	border-radius: 1mm;
	border: 1mm solid #a7233f;
	
	overflow: hidden;
	overflow-y: auto;
	
	cursor: default;
	
	/*transform: scale( 0.0 );
	transition: transform 2000ms ease;*/
}

.netgis-modal .netgis-dialog.netgis-show
{
	display: block;
	
	/*transform: scale( 1.0 );
	transition: transform 2000ms ease;*/
}

.netgis-modal header
{
	/*position: absolute;*/
	width: 100%;
	height: 12mm;
	/*left: 0mm;
	top: 0mm;*/
	line-height: 12mm;
	text-align: center;
}

.netgis-modal header button
{
	position: relative;
	width: 100%;
	min-height: 12mm;
}

.netgis-modal header button span
{
	display: block;
	position: absolute;
	right: 0mm;
	top: 0mm;
	line-height: 12mm;
	padding: 0mm 4mm;
	text-align: center;
}

.netgis-modal-content
{
	/*position: absolute;
	left: 4mm;
	right: 4mm;
	top: 16mm;
	bottom: 4mm;*/
	padding: 6mm;
	overflow: auto;
}

.netgis-modal-content > table
{
	width: 100%;
	border: none;
	border-spacing: 0mm;
}

.netgis-modal-content > table td,
.netgis-modal-content > table th
{
	width: 50%;
	overflow: hidden;
	vertical-align: top;
	text-align: left;
}

.netgis-modal-content .netgis-padding
{
	padding: 4mm 4mm;
}

.netgis-modal-content .netgis-space
{
	height: 6mm;
}

.netgis-modal-content button,
.netgis-modal-content label
{
	width: 100%;
	min-height: 12mm;
	/*line-height: 12mm;*/
}

.netgis-modal-content button i
{
	margin-right: 4mm;
}

.netgis-modal-content button[disabled]
{
	opacity: 0.5;
	cursor: not-allowed;
}

.netgis-modal-content input,
.netgis-modal-content select
{
	width: 100%;
}

.netgis-modal-content input[type=file]
{
	cursor: pointer;
}

.netgis-modal-content ul
{
	margin: 0mm;
	padding: 0mm;
	padding-left: 4mm;
	list-style-type: square;
}

.netgis-modal-content li:not( :last-child )
{
	margin-bottom: 4mm;
}

.netgis-modal h3
{
	margin: 0mm;
}
