.netgis-modal
{
	display: none;
	
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0mm;
	left: 0mm;
	padding: 6mm;
	
	z-index: 10000;
	
	background: rgba( 0, 0, 0, 0.6 );
}

.netgis-modal.netgis-show
{
	display: block;
}

.netgis-modal > *
{
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 150mm;
	margin: 0mm auto;
}

.netgis-modal .netgis-content
{
	position: absolute;
	width: 100%;
	top: 12mm;
	bottom: 0mm;
	padding: 12mm;
	overflow: auto;
}

.netgis-modal .netgis-button
{
	display: block;
	width: 100%;
	min-height: 12mm;
	text-align: left;
}