.netgis-font { font-family: Arial, sans-serif; }

.netgis-color-a { background-color: #990000; color: #fff; }
.netgis-color-b { background-color: #430433; color: #fff; }
.netgis-color-c { background-color: #470f1b; color: #fff; }
.netgis-color-d { background-color: #F6F5F5; color: #000; }
.netgis-color-e { background-color: #ffffff; color: #000; }

.netgis-hover-a:hover { background-color: #990000; color: #fff; }
.netgis-hover-b:hover { background-color: #430433; color: #fff; }
.netgis-hover-c:hover { background-color: #470f1b; color: #fff; }
.netgis-hover-d:hover { background-color: #F6F5F5; color: #000; }
.netgis-hover-e:hover { background-color: #ffffff; color: #000; }

.netgis-text-a { color: #990000; }
.netgis-text-b { color: #430433; }
.netgis-text-c { color: #470f1b; }
.netgis-text-d { color: #F6F5F5; }
.netgis-text-e { color: #ffffff; }

.netgis-hover-text-a:hover { color: #990000; }
.netgis-hover-text-b:hover { color: #430433; }
.netgis-hover-text-c:hover { color: #470f1b; }
.netgis-hover-text-d:hover { color: #F6F5F5; }
.netgis-hover-text-e:hover { color: #ffffff; }

.netgis-border-d { border: 1mm solid #F6F5F5; }

.netgis-gradient-a
{
	background: linear-gradient( to bottom, #71182b 0, #470f1b 100% );
}